@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto+Condensed:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Days One', sans-serif;
}

.backstyle {
  height: 100vh;

 
}

.backstyle video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.aboutMe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-shadow: 1px 2px 2 #00000069, 2px 3px 3 #0000005d;
}



.project-text {
  position: absolute;
  left:49%;
  transform: translate(-50%);
  margin: 20px;
  text-align: center;
  font-size: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxes {
  background-image: linear-gradient(to bottom right,rgba(82, 235, 255, 0.377),rgba(155, 235, 255, 0.411),rgba(94, 190, 250, 0.781));
  text-align: center;
  padding: 13.4rem 10rem;
  min-height: 80vh;
  min-width: 150vh;
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.box1 {
  margin: 20px;
  flex-direction: column;
  background: rgba(103, 164, 168, 0.349);
  border-radius: 20px;
}
.box2 {
  margin: 20px;
  flex-direction: column;
  background: rgba(103, 164, 168, 0.349);
  border-radius: 20px;
}
.box3 {
  margin: 20px;
  flex-direction: column;
  background: rgba(103, 164, 168, 0.349);
  border-radius: 20px;
}